body {
    background: #e6ecf0;
    padding: 0px;
    margin: 0px;
    position: relative;
    font-family: Helvetica;
}
.background_image {
    width: 100%;
    height: 320px;
    background-color: #9e9e9e;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position:0px -90px;
}